body {
  background: #fff;
  color:#cccccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  touch-action: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}
:-webkit-full-screen #canvas {
  width: 100%;
  height: 100%;
}
div.gm4html5_div_class
{
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #3c2516;
}
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}