$theme-colors: (
  "red": #ec2028,
  "blue": #28ace2,
  "yellow": #f8ef24,
  "green": #16a851,
  "purple": #eb078d,
  "orange": #f26725,
);
$colors: (
  "red": #ec2028,
  "blue": #28ace2,
  "yellow": #f8ef24,
  "green": #16a851,
  "purple": #eb078d,
  "orange": #f26725,
);
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.controllers {
  background-color: $gray-800;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #6c757d;
}

.w-fc {
  max-width: fit-content;
}